<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Reader Notifier Reloaded</string>
	<key>CFBundleIconFile</key>
	<string>Reader Notifier.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.bay.ReaderNotifier</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Reader Notifier Reloaded</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.4</string>
	<key>CFBundleVersion</key>
	<string>2.2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleTypeMIMETypes</key>
	<array>
		<string>application/rss+xml</string>
		<string>application/rdf+xml</string>
		<string>application/atom+xml</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Feed</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
			</array>
		</dict>
	</array>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUScheduledCheckInterval</key>
	<integer>7200</integer>
	<key>SUFeedURL</key>
	<string>http://www.caffeineapps.com/ReaderNotifierReloaded/sparkle_appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
